/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #c6c6c9;
    color: #333;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    color: hsl(0, 0%, 29%);
  }
  

#container {
  width: 65%;
  margin-left: 35%;
  padding: 124px 54px 72px;
  box-sizing: border-box;
}
  .book-card {
    display: grid;
    background-color: #ade5b4;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    width: 200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  #libraryDisplay {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  button {
    background-color: #5c6bc0;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #3f51b5;
  }
  /* CSS Form */
  #main-header {
    background-color: #5c6bc0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 30%;
    padding: 120px 5px 20px 5px;
    box-sizing: border-box;
    background-position: left top;
    background-size: auto, cover;
}
/* Form Styles */
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 10px 40px 0px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
input[type="checkbox"]{
  padding: 1px;
}

button[type="submit"] {
  margin-left: 90px;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
} 