body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  color: #333;
  margin: 0;
  padding: 0;
}

#container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

#main-header {
  background-color: #3f51b5;
  color: white;
  width: 100%;
  padding: 20px;
  text-align: relative;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Espaçamento entre as linhas do formulário */
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

form div {
  display: flex;
  align-items: center; /* Alinha label e input verticalmente */
  gap: 10px; /* Espaçamento entre label e input */
}

label {
  font-size: 1rem;
  color: #333;
}

input[type="text"],
input[type="number"] {
  padding: 8px;
  font-size: 0.9rem;
}

input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.2); /* Aumenta a área clicável */
}


button[type="submit"] {
  width: 100%; /* Botão ocupa toda a largura */
  padding: 10px;
}

.book-card {
  background-color: #e3f2fd;
  border: 1px solid #90caf9;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  width: 250px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.book-card:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.book-card p {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #333;
}


button {
  font-size: 1rem;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
}

button:hover {
  transform: scale(1.1);
}

#libraryDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

@media (max-width: 768px) {
  #main-header {
    position: relative;
    height: auto;
    padding: 10px;
  }

  #container {
    width: 100%;
    padding: 10px;
  }

  .book-card {
    width: 100%; /* Os cards ocupam toda a largura */
  }
}

